:root {
  --color-primary-100: #181717;
  --color-secondary-100: #e8eaec;

  --color-unsplash: #000000;
  --color-bitspeicher: #eb8951;
  --color-github: #7dbbe6;
}

/* reverse colors in dark theme */
.dark {
  --color-primary-100: #dadde0;
  --color-secondary-100: #181717;

  --color-unsplash: #ffffff;
  --color-bitspeicher: #f6a477;
  --color-github: #7dbbe6;
}

body {
  @apply bg-secondary-100 text-primary-100 border-primary-100;
}

h1 {
  @apply mb-4 text-4xl font-bold uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  @apply mb-3 text-3xl font-bold uppercase;
}
