.page-enter-active {
  transition: opacity 700ms cubic-bezier(0.21, 0.62, 0.29, 1),
    transform 700ms cubic-bezier(0.21, 0.62, 0.29, 1);
  transition-delay: 200ms;
}

.page-leave-active {
  transition: opacity 200ms cubic-bezier(0.99, 0.01, 1, 1),
    transform 200ms cubic-bezier(0.99, 0.01, 1, 1);
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateY(1rem);
}
